<div class="tables-container">
    <!-- Current Rentals Table -->
    <div class="table-wrapper">
        <h2>Current Rentals</h2>
        <table class="rentals-table">
            <thead>
                <tr>
                    <th>Vehicle Name</th>
                    <th>Vehicle Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Rent Per Day</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let rental of allRentals">
                    <tr *ngIf="rental.status">
                        <td>{{rental.vehicleName}}</td>
                        <td>{{rental.vehicleType}}</td>
                        <td>{{rental.startDate}}</td>
                        <td>{{rental.endDate}}</td>
                        <td>₹{{rental.rent}}</td>
                    </tr>
                </ng-container>
                <tr *ngIf="!hasCurrentRentals">
                    <td colspan="5" class="no-rentals-msg">No Active Rentals</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Past Rentals Table -->
    <div class="table-wrapper">
        <h2>Past Rentals</h2>
        <table class="rentals-table">
            <thead>
                <tr>
                    <th>Vehicle Name</th>
                    <th>Vehicle Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Rent Per Day</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let rental of allRentals">
                    <tr *ngIf="!rental.status">
                        <td>{{rental.vehicleName}}</td>
                        <td>{{rental.vehicleType}}</td>
                        <td>{{rental.startDate}}</td>
                        <td>{{rental.endDate}}</td>
                        <td>₹{{rental.rent}}</td>
                    </tr>
                </ng-container>
                <tr *ngIf="!hasPastRentals">
                    <td colspan="5" class="no-rentals-msg">No Previous Rentals</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<button class="floating-btn" (click)="backToPanel()">
    &#8592; Go Back
</button>